## Welcome to Python for Biologists

## Todays agenda:

- Expressions and Statements
- Comparison Operators
- Conditional (if)
- Memberships, in operator
- Logical Operators
- Lists
- Loops (while and for)

Section 1: Expressions and Statements:
### What is a Python expression?

* An expression is any code that returns a value e.g. 5+7, "lesson"

## What is a Python statement?

* A Python statement is operation on a value e.g. fname = "Olaitan"

* A statement (generally) does something to the value

* A series of statements in python is a program

* Semi-colons can be used to delimit statements on a single line in python

* A statement can be on a separate line (semi-colon is not needed)

In [4]:
4+5

fname = "John"
sum=4+5
print(sum)
sum=4+5
print("The sum of 4 and 5 is " + str(sum))

9
The sum of 4 and 5 is 9

Section 2:
Comparison Operators:
- We can compare if two things are equal, p == q
- We can compare if two things are not equal, p != q
- We can compare if something is greater than another, p > q
- We can compare if something is less than another, p < q
- We can compare if something is greater than or equal to another, p >= q
- We can compare if something is less than or equal to another, p <= q

In [ ]:
p = 5
q = 8

print(p == q) # False
print(p != q) # True
print(p > q) # False
print(p < q) # True
print(p >= q) # False
print(p <= q) # True

False
True
False
True
False
True

Section 3: Control Statements (Conditionals)

Control statements are if statements.
If condition is true, then we will run some piece of code.

In [ ]:
condition = False
height = 7.2
dna_base = "r"

if condition == True:
  print("The condition is true")
else:
  print("The condition is not true")


if height > 6:
  print("That is a tall person")
else:
  print("That is not a tall person")

weather = 81
if weather > 75:
  print("The day is hot")
else:
  print("The day is not hot")

alignment = "ACCTNNNGGTT"

if alignment.find("N") == True:
  print("True")
else:
  print("There is not a valid base in position ", alignment.find("N"))

if dna_base.upper() == "A":
  print("That DNA base is Adenine")
elif dna_base.upper() == "C":
  print("That DNA base is Cytosine")
elif dna_base.upper() == "T":
  print("That DNA base is Thymine")
elif dna_base.upper() == "G":
  print("That DNA base is Guanine")
else:
  print("That is not a DNA base")

The condition is not true
That is a tall person
The day is hot
There is not a valid base in position  4
That is not a DNA base



Section 4: Membership (in Operator)

   - The in operator is a boolean that checks if an item or character is present in an object.
   - We can check for membership of things in an object, and then run some statements based on the outcome

In [ ]:
course = "Python for Biologists"
print('Python' in course) # the result is a boolean value

if ('Python' in course):
  print("We're in a programming class")
else:
  print("This is not a programming class")

False
This is not a programming class



Section 5: Logical Operators

   - Logical operators are AND, NOT and OR.
   - AND returns True if both operands are True
   - OR returns True if at least one operand is true. OR returns the first operand that is not False or falsy.
   - NOT inverts the boolean expression that we give it

In [ ]:
condition1 = True
condition2 = False

print(not condition1 )# False
print(condition1 and condition2) # False
print(condition1 or condition2) # True

price = 32
print(price > 16 and price < 40) # True

print(not price > 16) # this will invert True to False
print(price > 16 or price < 40) # True

False
False
True
True
False
True



Section 6: Lists

   - Lists are python data structures that allow you to group together multiple values
   - The index of a Python list starts from zero
   - List items are enclosed in square brackets
   - List items are separated with a comma
   - Lists can hold different types of values or data types in a single list
   - A list can be empty
   - A list can be sliced

In [3]:
cloud_vendors = ["Google", "Amazon", "Azure", "Alibaba", "Oracle"]
even_numbers = [2,4,6,8]
items = ["Francis",4,True,8.5]
empty_list = []

print(cloud_vendors[1])

# Update a List
cloud_vendors[2] = "Microsoft Azure"

print(cloud_vendors)
print(even_numbers)
print(items)

# Negative index
print("The last cloud vendor in the list is " + cloud_vendors[-1])
# How about 2nd to the last cloud vendor?

# When an end index is specified for slicing, python does not include the end index.
# Let us slice the cloud_vendors list. The following example will start from index 1 to 4 but not including 4.
print("Slice 1:4 is " + str(cloud_vendors[1:4]))
# Let us slice from index 2 to the end of the list.
print("Slice 2: is " + str(cloud_vendors[2:]))
# Let us slice from the beginning of the list to index 2 but not including 2.
print("Slice :2 is " + str(cloud_vendors[:2]))

# List Methods
# Length of a list
print("Number of items in the list is: " + str(len(cloud_vendors[:])))

p = "IBM"
q = "Tencent"
r = "OVHcloud"
s = "DigitalOcean"
t = "Linode"
unsortedlist = [p,q,r,s,t]
# Sort a list
sortedlist = sorted(unsortedlist)
print("My sorted list: " + str(sortedlist))
print("My unsorted list: " + str(unsortedlist))
unsortedlist.sort()
print("My unsorted list is now sorted: " + str(unsortedlist))

# Append to a list
cloud_vendors.append(p)
print("Append value in p: " + str(cloud_vendors))

# Extend a list (Concatenation of a List l1 += [new_list])
# Extend modifies the list content
cloud_vendors.extend([q,s])
print("Extend cloud vendors: " + str(cloud_vendors))

# Extend a list (Concatenation of a List l1 += [new_list])
cloud_vendors.remove(q)
print("Remove from cloud vendors: " + str(cloud_vendors))

# Insert into cloud_vendors
cloud_vendors.insert(3,r)
print("Insert into cloud vendors: " + str(cloud_vendors))

# Make a copy of cloud_vendors
mynewlist = cloud_vendors[:]
print("My new list: " + str(mynewlist))



# Read about other list methods.

Amazon
['Google', 'Amazon', 'Microsoft Azure', 'Alibaba', 'Oracle']
[2, 4, 6, 8]
['Francis', 4, True, 8.5]
The last cloud vendor in the list is Oracle
Slice 1:4 is ['Amazon', 'Microsoft Azure', 'Alibaba']
Slice 2: is ['Microsoft Azure', 'Alibaba', 'Oracle']
Slice :2 is ['Google', 'Amazon']
Number of items in the list is: 5
My sorted list: ['DigitalOcean', 'IBM', 'Linode', 'OVHcloud', 'Tencent']
My unsorted list: ['IBM', 'Tencent', 'OVHcloud', 'DigitalOcean', 'Linode']
My unsorted list is now sorted: ['DigitalOcean', 'IBM', 'Linode', 'OVHcloud', 'Tencent']
Append value in p: ['Google', 'Amazon', 'Microsoft Azure', 'Alibaba', 'Oracle', 'IBM']
Extend cloud vendors: ['Google', 'Amazon', 'Microsoft Azure', 'Alibaba', 'Oracle', 'IBM', 'Tencent', 'DigitalOcean']
Remove from cloud vendors: ['Google', 'Amazon', 'Microsoft Azure', 'Alibaba', 'Oracle', 'IBM', 'DigitalOcean']
Insert into cloud vendors: ['Google', 'Amazon', 'Microsoft Azure', 'OVHcloud', 'Alibaba', 'Oracle', 'IBM', 'DigitalOcean']
My new list: ['Google', 'Amazon', 'Microsoft Azure', 'OVHcloud', 'Alibaba', 'Oracle', 'IBM', 'DigitalOcean']



Section 7: Loops

   - while Loops are defined using the while keyword and the code inside the loop is executed in each iteration while the condition is true.
   - for Loops

In [2]:
counter = 10

while counter >=1 :
  print("The counter is still greater than one")
  counter -= 1

print("The counter is now less than one")

even_numbers = [2,4,6,8]

for number in even_numbers:
  print(number)

# We can also use range (A range object is a sequence of integers. Indexing is zero-based)
for r in range(10):
  print(r)

newlist = ["James",4,True,8.5]
# The enumerate function can be used to get the index and the item
for index,item in enumerate(newlist):
  print(index,item)

# Continue
for index,item in enumerate(newlist):
  if item == 4:
    continue
  print(index,item)

# Break
for index,item in enumerate(newlist):
  if item == 4:
    break
  print(index,item)

cloud_vendors = ["Google", "Amazon", "Azure", "Alibaba", "Oracle"]
alignment = "0123456789"
for char in cloud_vendors:
  print(char)

alignment = "ACCTNNNGGTT"
for char in alignment:
  if char == "N":
    print(char + " is not a valid dna base")
  else:
    print(char)

The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is still greater than one
The counter is now less than one
2
4
6
8
0
1
2
3
4
5
6
7
8
9
0 James
1 4
2 True
3 8.5
0 James
2 True
3 8.5
0 James
Google
Amazon
Azure
Alibaba
Oracle
A
C
C
T
N is not a valid dna base
N is not a valid dna base
N is not a valid dna base
G
G
T
T